
{% extends 'base2.html' %}
{% block left %} 
<style>
#p{
padding:8px;
}
</style>

<div>
  <img src="/mymedia/{{user.get_profile.headimg}}" alt="" width="210px" height="210px"/><br />
   登录名：{{user.username}}<br />
   昵称：{{user.first_name}}<br />
   性别：{{user.get_profile.sex}}<br />
   所在地：{{user.userprofile_set.all.0.address}}<br />
   邮箱：{{user.email}}<br />


<ul class="nav nav-tabs nav-stacked">
    <li><a href="/home/myperson/">个人信息</a></li>
    <li><a href="/home/mydate/">我的约会</a></li>
    <li><a href="/setting/1/">修改个人信息</a></li>
    <li ><a href="/setting/2/">修改密码</a></li>
</ul>

</div>
{%endblock%}
<!---right--->
{%block right%}
<div>
 <h3>最新约会:</h3>
{{user.username}}
  {% for u in user.userprofile_set.all %}<br /><hr />
      {{u.follow}}
      
  {% endfor %}

</div>
{% endblock %}
